<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="bluedot.electrochemistry.dao.BaseMapper">

    <select id="getAccountList" resultType="bluedot.electrochemistry.pojo.domain.User">
        select * from user where ${condition};
    </select>

    <select id="getAccountCount" resultType="Integer">
        select count(*) from user where ${condition};
    </select>
    <select id="getOneUser" resultType="bluedot.electrochemistry.pojo.domain.User">
        select * from user where ${condition};
    </select>
</mapper>
