<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="bluedot.electrochemistry.service.dao.BaseMapper">

    <select id="checkEmail" resultType="java.lang.Integer">

    </select>
    <select id="loginByEmail" resultType="bluedot.electrochemistry.service.pojo.domain.User">

    </select>
</mapper>
